[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "robustGarch"]
	path = robustGarch
	url = https://github.com/echorliu/robustgarch
